
@{
    Layout = null;
}
@using DersYönetimSistemi.WebUI.MvcHelper
<!-- Logo -->
<a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>D</b>YS</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>DERS YÖNETİM </b>SİSTEMİ</span>
</a>
<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">4 mesajınız var</li>
                    <li>
                        <!-- inner menu: contains the messages -->
                        <ul class="menu">
                            <li>
                                <!-- start message -->
                                <a href="#">
                                    <div class="pull-left">
                                        <!-- User Image -->
                                        <img id="img1" src="@SessionManager.AktifKullanici.Resim" class="img-circle" alt="User Image">
                                    </div>
                                    <!-- Message title and timestamp -->
                                    <h4>
                                        Kullanıcı Onayı
                                        <small><i class="fa fa-clock-o"></i></small>
                                    </h4>
                                    <!-- The message -->
                                    <p>Onaylanacak kullanıcılar var</p>
                                </a>
                            </li>
                            <!-- end message -->
                        </ul>
                        <!-- /.menu -->
                    </li>
                    <li class="footer"><a href="#">Tüm Mesajlar</a></li>
                </ul>
            </li>
            <!-- /.messages-menu -->
            <!-- Notifications Menu -->
            <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">10 tane bildiriminiz var</li>
                    <li>
                        <!-- Inner Menu: contains the notifications -->
                        <ul class="menu">
                            <li>
                                <!-- start notification -->
                                <a href="#">
                                    <i class="fa fa-users text-aqua"></i> Kullanıcı bildirimleri
                                </a>
                            </li>
                            <!-- end notification -->
                        </ul>
                    </li>
                    <li class="footer"><a href="#">Tümünü gör</a></li>
                </ul>
            </li>
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img id="img2"src="@SessionManager.AktifKullanici.Resim" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">
                        @SessionManager.AktifKullanici.Adi
                        @SessionManager.AktifKullanici.Soyadi
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img id="img3" src="@SessionManager.AktifKullanici.Resim" class="img-circle" alt="User Image">
                        <p>
                            @SessionManager.AktifKullanici.Adi
                            @SessionManager.AktifKullanici.Soyadi
                            <small>@SessionManager.AktifKullanici.Email</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#"></a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#"></a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#"></a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="/Administration/Home/Profiles" class="btn btn-default btn-flat">PROFİL</a>
                        </div>
                        <div class="pull-right">
                            <a href="/Administration/Home/LogOut" class="btn btn-default btn-flat">ÇIKIŞ YAP</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
